@import url(https://db.onlinewebfonts.com/c/f4a88c23d1f27870fb1e458ace76a752?family=Sharp+Grotesk+Book+20+Regular);

@font-face {
    font-family: "Sharp Grotesk Book 20 Regular";
    src: url("https://db.onlinewebfonts.com/t/f4a88c23d1f27870fb1e458ace76a752.eot");
    src: url("https://db.onlinewebfonts.com/t/f4a88c23d1f27870fb1e458ace76a752.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/f4a88c23d1f27870fb1e458ace76a752.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/f4a88c23d1f27870fb1e458ace76a752.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/f4a88c23d1f27870fb1e458ace76a752.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/f4a88c23d1f27870fb1e458ace76a752.svg#Sharp Grotesk Book 20 Regular")format("svg");
}

body {
    color: white;
    margin: 0;
    width: 100%;
    font-family: "Sharp Grotesk Book 20 Regular";
    min-height: 100vh;
}

/*nav*/


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background-color: aliceblue;
}
nav {
    width: 100%;
}
ul li {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropbox_logo {
    width: 48px;
    height: inherit;
    background-color: #0061FE;
}

/*List*/
li, a, button {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
ul li {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**/

/*Nav*/
.nav_links {
    margin: 0;
    width: 100%;
    list-style: none;
    display: inline-flex;
    padding: 0;
    height: 48px;
}
.nav_links ul {
    justify-content: center;
    display: flex;
}
.nav_links li {
    display: inline-flex;
    padding: 0px 12px;
}
.nav_links li strong {
    font-size: 22px;
}
.nav_links li {
    transition: all 0.3s;
}
.nav_links li:hover {

    background-color: #f2efe8;
}
svg {
    width: 48px;
    height: 48px;
}
.svg_logo path {
    width: 30px;
    height: 25px;
}
.nav_sizer {
    width: 60%;
    display: inline-flex;
    justify-content: end;
    flex: 1;
}
/**/

/*butão*/
.btn_placeholder {
    padding-right: 5px;
}
.cta a{
    color: white;
    padding-left: 15px;
}
button {
    height: 40px;
    width: 150px;
    background-color: #0061FE;
    border: none;
    text-align: initial;
}
/**/

h3 {
    font-size: 26px;
    margin: 0;
}
/**/

/*Main*/
main {
    width: 100%;
    height: 85vh;
    display: flex;
}
.text_main {
    width: 35vw;
    height: 100%;
    background-color: #2b2929;
}
.gif_main {
    width: 65vw;
    height: 100%;
    background-color: #1e1919;
}
.main_placeholder_text {
    line-height: 1.4;
    height: -webkit-fill-available;
    padding: 7% 15% 7% 8%;
}
.small_text {
    line-height: 1.5;
}
.main_button {

}
.main_link a {
    color: white;
    text-decoration: underline;
    text-underline-offset: 3px;
}
.btn-main {
    width: 200px;
    padding: 34px 38px 34px 20px;
    display: flex;
    justify-content: initial;
    align-items: center;
}

/**/

.footer_dropbox {
    width: 100%;
    height: 70vh;
    padding-top: 5%;
    color: white;
    margin: 0;
    /* position: fixed;
    left: 0;
    bottom: 0;
    */
    background-color: gray;
}
.footer_main_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer_dropbox_section {
    padding-right: 20px;
    min-width: 13%;
}